* {
  margin: 0%;
  padding: 0%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.menu {
  position: fixed;
  width: 100%;
  z-index: 3;
}

.menu__img {
  width: 150px;
}

.hero {
  color: white;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: inline-block;
}

.hero__back {
  position: absolute;
  min-height: 100vh;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: -2;
}

.hero__video {
  width: 100vw;
}

.hero__txBroom {
  position: relative;
  color: #FFF30D;
  top: 0px;
  font-size: 4rem;
  font-style: bold;
  font-weight: bold;
}

.hero__txWhite {
  position: relative;
  top: 130px;
  left: 200px;
  color: white;
  font-size: 4rem;
  font-weight: bold;
}

.hero__parrafo {
  position: relative;
  top: 150px;
  left: 200px;
  color: white;
  font-size: 1.5rem;
  font-style: italic;
  width: 50vw;
}

.hero__cajaBoton {
  position: relative;
  top: 200px;
  left: 200px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero__botonCiudadano {
  position: relative;
  display: inline-block;
  background-color: #70AF90;
  color: white;
  height: 70px;
  width: 250px;
  border-radius: 6px;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
}

.hero__botonCiudadano p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero__botonCiudadano:hover {
  background-color: white;
  color: #70AF90;
}

.hero__botonEmprendedor {
  position: relative;
  display: inline-block;
  background-color: #196C84;
  color: white;
  height: 70px;
  width: 250px;
  border-radius: 6px;
  margin: auto;
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
}

.hero__botonEmprendedor p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

.hero__botonEmprendedor:hover {
  background-color: white;
  color: #196C84;
}

.tarjeta {
  background-color: white;
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tarjeta__titulo {
  display: block;
  background-color: white;
  height: 10vh;
}

.tarjeta__titulo h2 {
  font-size: 3rem;
  color: #0C3944;
}

.tarjeta__img {
  width: 150px;
}

.tarjeta__cajaDiv {
  height: 175px;
}

.tarjeta__caja {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 350px;
  box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 6px 13px -7px rgba(0, 0, 0, 0.75);
}

.tarjeta__caja p {
  font-size: 2rem;
  color: #0C3944;
  font-weight: bold;
  text-align: center;
}

.pie {
  background-color: #0C3944;
  height: 30vh;
}
/*# sourceMappingURL=main.css.map */