@import "./variables";

/*energia limpia*/

.itemsc__fila__txt{
    text-decoration: none;
    color: #C1E94E;
}
.retoc__{
    width: 80%;
    display: grid;
    grid-template-columns: auto auto auto;
    border: 1px rgb(37, 37, 37);
    border-radius: 20px;
    background-color:#C1E94E ;
    background-image: linear-gradient( to right, #C1E94E, rgb(221, 235, 180));
    margin-left: 10%;
    margin: 3%;
}
.retoc__:hover{
    transform:scale(1.05,1.05);
}
.retoc__img{
    display: grid;
    grid-row: 1/3;
    background-color: white;
    align-content: center;
}
.retoc__titulo{
    font-size: 30px;
    padding: 10px;

}
.retoc__fecha{
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    color: rgb(37, 37, 37);
}
.retoc__parrafo{
    grid-row: 2 span 2;
    font-size: 25px;
    padding: 10px;
    color: rgb(37, 37, 37);
}