@import "./variables";

// Botones

.botones {
    &__titulo {
        height: 200px;
        margin: auto;
        justify-content: flex-start;
        display: flex;
        align-items: center;
        font-size: $letraTituloGrande;
        font-weight: bold;
        padding-top: 50px;
        padding-left: 200px;
    }

    &__btnFormaActivo {
        background-color: $colorFlame;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    display: flex;
       justify-content: center;
    margin-right: 40px;
}

    &__btnFormaInactivo {
        background-color: grey;
    width: 250px;
    height: 80px;
    border-radius: 50px;
    display: flex;
       justify-content: center;
    margin-right: 40px;
}

    a{
        text-decoration: none;
        font-size: $letraTituloGrande;
        color: white;
    }
    

    &__alineados {
        width: 70%;
        margin: auto;
        padding-bottom: 100px;
    }
}

// formulario
.formulario {
    height: 280vh;
}

// Marca y reto 

.editar {
    height: 50px;
    width: 90%;
    margin: auto;

    &__btn {
        background-color: $colorBlue;
        color: white;
        font-style: italic;
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        
        
        
        i {
            color: white;
       }

    }
}

.marca {
   height: 200px;
   width: 90%;
   margin: auto;
   
   border-top-right-radius: 30px;
   

   &__fondo {
       background-color: lightblue;
       height: 100%;
       width: 100%;
       font-size: $letraSubtitulo;
       margin: 0;
   }

   &__logo {
    border: solid 1px gray;
    border-top-left-radius: 30px;

    img {
        border-top-left-radius: 30px;
    }
   }

   &__negrita {
       font-weight: bold;
   }


   
   &__calendario {
    
    i {
        display: inline;
    }
    p {
        display: inline;  
    }
}
}

.preguntas {
    width: 90%;
    height: 400px ;
    background-color: papayawhip;
    margin: auto;
    padding: 20px 0 20px 0;
    border-radius: 30px;

    &__txt {
        font-weight: bold;
        margin-left: 10px;
        font-size: $letraTitulo;
    }
    &__li {
        font-style: italic;
        
        li {
            padding-bottom: 10px;
            font-size: $letraSubtitulo;
            
    }
}

}
.pregunta1 {

    width: 85%;
    margin: auto;
    padding-top: 40px;

&__intro {
    width: 80%;
    height: 320px;
    
}
    
    &__txt {
        font-weight: bold;
     
        font-size: $letraSubtitulo;
}
label {
    padding-bottom: 10px;
            font-size: $letraNormal;
            display: block;
}
input {
    width: 100%;
    height: 150px;
}
&__sub {
    color: gray;
    font-size: $letraChica;
    padding-top: 12px;

}

}


.pregunta2 {

    width: 85%;
        padding-top: 40px;
        margin: auto;
        height: 100%;

&__intro {
    width: 80%;
    
    padding-top: 20px;
}
    
    &__txt {
        font-weight: bold;
     
        font-size: $letraSubtitulo;
}
label {
    padding-bottom: 10px;
            font-size: $letraNormal;
            display: block;
}
input {
    width: 100%;
    height: 150px;
}
&__sub {
    color: gray;
    font-size: $letraChica;
    padding-top: 12px;

}

}

.pregunta3 {

    width: 85%;
        padding-top: 40px;
        margin: auto;
        height: 100%;

&__intro {
    width: 80%;
    
    padding-top: 20px;
}
    
    &__txt {
        font-weight: bold;
     
        font-size: $letraSubtitulo;
}
label {
    padding-bottom: 10px;
            font-size: $letraNormal;
            display: block;
}
input {
    width: 100%;
    height: 150px;
}
&__sub {
    color: gray;
    font-size: $letraChica;
    padding-top: 12px;

}

}
   
.pregunta4 {

    width: 85%;
        padding-top: 40px;
        margin: auto;
        height: 100%;

&__intro {
    width: 80%;
    
    padding-top: 20px;
}
    
    &__txt {
        font-weight: bold;
     
        font-size: $letraSubtitulo;
}
&__parrafo {
    padding-bottom: 10px;
            font-size: $letraNormal;
            display: block;

}

}