// Fuente

$fuente: 'Raleway', sans-serif;

// Tamaño de tipografía

$letraTituloMuyGrande: 5rem;
$letraTituloGrande: 3rem;
$letraTitulo: 2rem;
$letraSubtitulo: 1.5rem;
$letraNormal: 1.2rem;
$letraChica: 0.8rem;
$letraMini: 0.7rem;
$letraBotonGrande: 1.5rem;
$letraBotonChico: 0.5rem;

// Paleta de colores : Broom(Amarillo) - Blue(Azul oscuro) - Calipso(Azul medio) - Tree(Celeste) - Cerise(Violeta) - Flame(Salmón) Atlantis(Verde)

$colorBroom: #FFF30D;
$colorBlue: #0C3944;
$colorTree: #70AF90;
$colorCalipso: #196C84;
$colorFlame: #F3976B;
$colorCerise: #9B084F;
$colorAtlantis: #C1E94E;
$colorBrick: #C62E43;
$colorRoman: #E36164;
$colorGris: rgb(216, 215, 215);
$colorCategoriaAgua: #63C6C6;
$colorCategoriaMovilidad: #EA4335; 
$colorCategoriaEnergia: #C1E94E; 
$colorCategoriaDiseno: #196C84; 
$colorCategoriaAlimentacion: #FCF6A0; 
$colorCategoriaConsumo: #70AF90; 
$colorCategoriaTejido: #F3976B; 


// Margenes

// Padding