// Fuente

// Tamaño de tipografía

// Paleta de colores : Broom(Amarillo) - Blue(Azul oscuro) - Calipso(Azul medio) - Tree(Celeste)

$colorBroom: #FFF30D;
$colorBlue: #0C3944;
$colorTree: #70AF90;
$colorCalipso: #196C84 ;

// Margenes

// Padding