// Fuente

$fuente: 'Raleway', sans-serif;

// Tamaño de tipografía

$letraTituloMuyGrande: 4rem;
$letraTituloGrande: 3rem;
$letraTitulo: 2rem;
$letraSubtitulo: 1.5rem;
$letraBotonGrande: 1.5rem;
$letraBotonChico: 0.5rem;

// Paleta de colores : Broom(Amarillo) - Blue(Azul oscuro) - Calipso(Azul medio) - Tree(Celeste)

$colorBroom: #FFF30D;
$colorBlue: #0C3944;
$colorTree: #70AF90;
$colorCalipso: #196C84 ;

// Margenes

// Padding